
<!DOCTYPE html>
<html>
  {{!-- <head>
<link rel="stylesheet" href="public/stylesheets/style.css">
</head>
<body> --}}
<h1> Calculator</h1>

<form id ="add" action="/add" method="post">
  <label for="num1">num1:</label><br>
  <input type="number" id="num2" name="num1" value=><br>
  <label for="num2">num2:</label><br>
  <input type="number" id="num1" name="num2" value=><br><br>
  <button id="add" type="submit">Add</button>
   <button id="sub" type="submit" formaction="/sub">sub</button>
         <button id="sub" type="submit" formaction="/multi">multi</button>
         <button id="sub" type="submit" formaction="/div">div</button><br><br>
        <label for="num3">answer:</label><br>
  <input type="text" name="num3" id="num3" readonly placeholder="Answer" value="{{c}}">
</form>

<script>
    $("#add").click(function(){
  $.ajax({url: "/add", success: function() 
});
 $("#sub").click(function(){
  $.ajax({url: "/sub", success: function() 
});
$("#calcaa").click(function(){
  $.ajax({url: "/multi", success: function() 
});
$("#div").click(function(){
  $.ajax({url: "/div", success: function() 
});
</script>
</body>
</html>






























































 
